.heading{
    font-family: sans-serif;
    text-align: center;
    margin-top: 120px;
    font-size: 42px;
}

body{
    background-color: rgb(48, 49, 49);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.youtube{
    color: red;
}
.convert-btn{
    margin-top: 40px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.input-field{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: gray;
    width: 40%;
    font-weight: bold;
}
