*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    font-family: sans-serif;
    text-align: center;
    margin-top: 120px;
    font-size: 42px;
}

body{
    background-color: rgb(48, 49, 49);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.youtube{
    color: red;
}
.convert-btn{
    margin-top: 40px;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    font-size: large;
    font-weight: bold;
}

.input-field{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: gray;
    width: 40%;
    font-weight: bold;
    margin-top: 40px;
}

.info{
    margin-top: 50px;
    font-weight: 600;
    font-style: italic;
}
.cd{
    margin-top: 5px;
}
#dir-change{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(190, 190, 190);
    font-weight: bold;
    margin-top: 5px;
}